stages:
  - test
  - build


test:
  stage: test
  image: python:$VERSION
  script:
    - python$VERSION -m venv venv
    - venv/bin/python -m pip install -r requirements-dev.txt
    - venv/bin/python -m pip install -e .[dev]
    - venv/bin/python -m pytest --cov=src --cov-report=term --cov-report=xml --junit-xml=report.xml
    - venv/bin/python -m mypy --no-error-summary docs src tests tools
    - venv/bin/python -m reuse lint
    - venv/bin/python -m ruff check docs src tests tools
    - venv/bin/python -m ruff format --diff docs src tests tools
    - venv/bin/sphinx-build docs public
  coverage: '/\d+\%\s*$/'
  artifacts:
    paths:
      - public
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
      junit: report.xml
  parallel:
    matrix:
      - VERSION:
        - "3.10"
        - "3.11"
        - "3.12"


build:
  stage: build
  image: python:3.10
  script:
    - python3.10 -m venv venv
    - venv/bin/python -m pip install build
    - venv/bin/python -m build .
  artifacts:
    paths:
      - dist


pages:
  stage: build
  image: python:3.10
  script:
    - ls public
  artifacts:
    paths:
      - public
  only:
    - master
